<p><%= params[:question] %></p>
<h1>Your Question:</h1>
<div class="form_coach">
<div class="ligne"></div>
<h1 class="Coach">Coach's Answer:</h1>
<p class="answer"><%= @answer %></p>
</div>
<div class="link">
<%= link_to "Ask another question", ask_path %>
</div>
