<form action="/answer" method="get" data-turbo="false" class ="form">
<h1>Ask your coach anything</h1>
  <label for="question">Your question:</label>
  <input type="text" name="question" id="question">
  <input type="submit" value="Ask!" class="btn">
</form>
